</<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Accueil{% endblock %}
{% block content %}

    <nav class="navbar navbar-light bg-light border-top">
      <span class="navbar-brand mb-0 h1">Accueil</span>
    </nav>
    <p> Bienvenue sur l'interface de bucquage 4.0 des Telek'ss. Ce site te permet de bucqué les Consommation que tu vends! <strong>N'oublie pas de les bucquées!</strong></p>
    <p> Si tu bucque bien toutes les consos, le niveau des stocks sera connu en permanence par les Zibars qui, avec leur interface personnalisé pourrons apporter les boissons manquantes
      <strong>avant meme qu'il n'y en ai plus !!</strong>
    </p>

    <p> Depuis le menu tu peux aller sur l'onglet "Client" qui te permet de bucqué tes consos. Tu t'es trompé ? tu as mal bucqué une conso ? <strong> Pas de Panique!</strong>
      L'onglet Historique est fait pour toi! Dans cet onglet tu as la possiblité d'Annuler des bucquages précédents!
    </p>
{% endblock %}
