<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Bucquage{% endblock %}
{% block content %}
  <body>
    <nav class="navbar navbar-light bg-light border-top">
      <span class="navbar-brand mb-0 h1">Bucquage {{salle}}</span>
    </nav>
    {%if bool%}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Consommation Bucquée!</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {%endif%}

    <table class="table table-hover shadow p-3 mb-3 bg-white rounded">
      <thead>
        <tr>
          <th scope="col">Boisson</th>
          <th scope="col">Quantité</th>
        </tr>
      </thead>
      <form action="Client" method="POST">
      <tbody>

          {% for drink in drinks %}
          {% csrf_token %}
            <tr>
              <td>{{drink}}</td>
              <td>
                <select name="qte,{{drink}}">
                  {% for i in rang %}
                    <option value={{i}},{{drink}}>{{i}}</option>
                  {% endfor %}
                </select>
              </td>
            </tr>
            {% endfor %}

      </tbody>
    </table>
    <div class="col-md-12 text-center">
      <button type="submit" class="btn btn-success btn-block" name=Accepter > Accepter </button>
    </div>
    </form>
  </body>
</html>
{% endblock %}
