</<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Historique{% endblock %}
{% block content %}
<nav class="navbar navbar-light bg-light border-top">
  <span class="navbar-brand mb-0 h1">Historique des opérations</span>
</nav>
<table class="table table-hover shadow p-3 mb-3 bg-white rounded">
  <form action="History" method="POST">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Action</th>
        <th scope="col">Salle</th>
        <th scope="col">Boisson</th>
        <th scope="col">Quantité</th>
        {% if not staff %}
        <th scope="col">Annuler</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for id,date,salle,drink,quantity,status in operation %}
      {% csrf_token %}
      {% if staff %}
      {% if status == 'Vente' %}
      <tr>
        <td>
          {{date}}
        </td>
        <td>
          Vente
        </td>
        <td>
          {{salle}}
        </td>
        <td>
          {{drink}}
        </td>
        <td>
          {{quantity}}
        </td>
      </tr>
      {% elif status == 'Rechargée' %}
      <tr>
        <td>
          {{date}}
        </td>
        <td>
          Recharge
        </td>
        <td>
          {{salle}}
        </td>
        <td>
          {{drink}}
        </td>
        <td>
          {{quantity}}
        </td>
      </tr>

      {% endif %}
      {% else %}
      {% if status == 'Vente' %}
      <tr>
        <td>
          {{date}}
        </td>
        <td>
          Vente
        </td>
        <td>
          {{salle}}
        </td>
        <td>
          {{drink}}
        </td>
        <td>
          {{quantity}}
        </td>
        <td>
          <button type="submit" name=Annuler value={{id}}> Annuler </button>
        </td>
      </tr>
      {% elif status == 'Rechargée' %}
      <tr>
        <td>
          {{date}}
        </td>
        <td>
          Recharge
        </td>
        <td>
          {{salle}}
        </td>
        <td>
          {{drink}}
        </td>
        <td>
          {{quantity}}
        </td>
        <td>
          <button type="submit" name=AnnulerZibar value={{id}}> Annuler </button>
        </td>
      </tr>

      {% else %}
      <tr>
        <td>
          {{date}}
        </td>
        <td>
          {{status}}
        </td>
        <td>
          {{salle}}
        </td>
        <td>
          {{drink}}
        </td>
        <td>
          {{quantity}}
        </td>
      </tr>
      {% endif %}
      {% endif %}
      {% endfor %}
    </tbody>
  </form>
</table>
{% endblock %}
