</<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Historique{% endblock %}
{% block content %}

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="border-bottom border-dark"></span>
    {% block nav %}
    {% if staff %}
    <a class="navbar-brand" href="/main/sqrt(Cdf)">Telekss</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/Accueil">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/main/Zibar">ZiBar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/main/Client">Bucquage</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/main/History">Historique</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/main/soldout">Soldout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/main/Restal">Restal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/main/HistoryRestal">Historique-Restal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/main/soldoutFood">Soldout-Food</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/main/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  {% elif CDF %}
  <a class="navbar-brand" href="/main/sqrt(Cdf)">Telekss</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" ></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/Accueil">Accueil</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/main/Zibar">ZiBar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/main/Client">Bucquage</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/main/History">Historique</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/main/soldout">Soldout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/main/Restal">Restal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/main/HistoryRestal">Historique-Restal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/main/soldoutFood">Soldout-Food</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/main/logout">Logout</a>
      </li>
    </ul>
  </div>
  </nav>
{% elif restal %}
<a class="navbar-brand" href="/main/sqrt(Cdf)">Telekss</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon" ></span>
</button>

<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/Accueil">Accueil</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/main/Restal">Restal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/main/HistoryRestal">Historique-Restal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/main/soldoutFood">Soldout-Food</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/main/logout">Logout</a>
    </li>
  </ul>
</div>
</nav>
  {% endif %}
  {% endblock %}
<nav class="navbar navbar-light bg-light border-top">
  <span class="navbar-brand mb-0 h1">Historique Restal</span>
</nav>
<table class="table table-hover shadow p-3 mb-3 bg-white rounded">
  <form action="HistoryRestal" method="POST">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Salle</th>
        <th scope="col">Degeul'ss</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for id,date,salle,drink in operation %}
      {% csrf_token %}
      <tr>
        <td>
          {{date}}
        </td>
        <td>
          {{salle}}
        </td>
        <td>
          {{drink}}
        </td>
        <td>
          <button type="submit" name=Annuler class="btn btn-danger" value={{id}}> Annuler </button> </h3>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </form>
</table>
{% endblock %}
