<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}sqrt(CDF){% endblock %}
{% block content %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3 ><center><font size="7">SQRT({{sqrt}})</font></center></h3>

  <p>La<b> validation</b> est une opération destinée à démontrer, documents à l'appui, qu'une procédure, un procédé ou une activité conduit effectivement aux résultats escomptés. Elle comprend la qualification des systèmes et des équipements.</p>
  <p>Dans le cas d’une validation d’un procédé, il s’agit d’établir, avec un niveau d’assurance élevé, une preuve documentée qu’un procédé particulier donnera constamment un produit conforme à ses spécifications et à des caractéristiques de qualité prédéterminées.</p>
  <p>La validation d’un procédé peut prendre la forme d’une validation prospective, concomitante ou rétrospective, ou d’une certification ou revalidation du procédé. </p>
    <h2 ><center><font size="7">Exemple: Le CDF est validable.</font></center></h2>
  </body>
</html>
{% endblock %}
